{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Data{% endblock %}

{% block content %}
<h1>Mkt Data</h1>
<form    action="." method="post" novalidate>
    {% csrf_token %}

    <div class="form-row align-items-center">
        <span style="width:5px"> </span>
        <label class="col-form-label" for="start_date">{{ form.start_date.label_tag }}</label>
        <span style="width:10px"> </span>
        {{ form.start_date }}
        {% render_field field class="form-control mb-2 mb-sm-0" id="start_date" %}
        <span style="width:20px"> </span>
        <label class="col-form-label" for="end_date">{{ form.end_date.label_tag }}</label>
        <span style="width:10px"> </span>
        {{ form.end_date }}
        <span style="width:20px"> </span>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Refresh</button>
        </div>
    </div>
    <div class="form-row align-items-center">
        <span style="width:5px"> </span>
        <label class="col-form-label"  for="show_volume">{{ form.show_volume.label_tag }}</label>
        <span style="width:10px"> </span>
        {{ form.show_volume }}
        {% render_field field value="{{ form.show_volume.value }}" id="show_volume" %}

        <span style="width:5px"> </span>
        <label class="col-form-label"  for="time_frame">{{ form.time_frame.label_tag }}</label>
        <span style="width:10px"> </span>
        {{ form.time_frame }}
        {% render_field field value="{{ form.time_frame.value }}" id="time_frame" %}
    </div>
</form>
<br />
{% if graph %}
<div style="width:100%;height:500">
    {{ graph|safe }}
</div>
{% else %}
<p>
    No Data in Graph :( Please try an earlier date. <br />
    Last date with data is {{ last_date_with_data }}
</p>
{% endif %}
{% endblock %}